*{
    box-sizing: border-box;
    scroll-behavior: smooth;
}
html{
    scrollbar-color: rgb(54, 157, 195);
}

/* width */
::-webkit-scrollbar {
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 0px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(54, 157, 195); 
  border-radius: 0px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(41, 120, 149); 
}

body{
    font-family: 'MyRoboto';
    background-color: rgb(5,23,30);
    margin: 0;
}

.content-container{
    max-width: 900px;
    margin: 0 auto;
}

header{
    background-color: rgb(8,33,41);
    padding-left: 50px;
    padding-top: 16px;
    padding-bottom: 16px;
}

.headline{
    color: white;
    max-width: 900px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    gap: 16px;
}

.headline-img{
    height: 52px;
    width: 52px;
    padding: 4px;
    background-color: rgb(253,91,79);
    border: 2px solid white;
    border-radius: 50px;
}

#headline_color{
    color:  rgb(253,91,79);
}
.headline span{
    font-size: 32px;
    font-weight: bold;
}

.underline{
    font-size: 18px !important;
    font-weight: normal !important;
    padding-top: 8px;
}

#books_container{
    max-width: 900px;
    margin: 0 auto;
    padding: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.frame{
    padding-top: 0;
    padding-bottom: 0;
    width: 350px;
    background-color: rgb(13,50,64);
    border-radius: 10px;
    margin-bottom: 16px;
    color: white;
}

h3{
    text-align: center;
}

hr{
    margin-block-start: 0;
    margin-block-end: 0;
    border: 2px solid rgb(54, 157, 195);
}

.hr-top{
    box-shadow: 0px 30px 30px rgb(54, 157, 195);
}

.hr-bottom{
    box-shadow: 0px -30px 30px rgb(54, 157, 195);
}

.book-box{
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 40%;
}

.book-box img{
    height: 50px;
    width: 60px;
}

.price-box{
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 16px;
    padding-bottom: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.price{
    font-size: 20px;
    font-weight: 600;
    color:  rgb(253,91,79);
}

.liked-container{
    display: flex;
    align-items: center;
    gap: 4px;
}

.liked-container:hover{
    cursor: pointer;
}

.liked{
    margin-bottom: 6px;
}

.info-container{
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 16px;
    font-size: 14px;
}

td{
    padding-right: 8px;
}

.comments-frame{
    padding-top: 0px;
    padding-left: 16px;
}

.comments-container{
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 16px;
    height: 150px;
    overflow-y: auto;
}

.comments-container td{
    font-size: 14px;
    padding-bottom: 8px;
}

h4{
    margin-block-start: 16px;
    margin-block-end: 12px;
}

.input-container{
    width: 100%;
    padding: 16px;
    display: flex;
    gap: 8px;
}

.input-container img:hover{
    cursor: pointer;
    border-radius: 2px;
    background-color: rgb(22, 80, 102);
}

.input-design{
    height: 24px;
    background-color: rgb(22, 80, 102);
    border: none;
    border-bottom: 2px solid rgb(54, 157, 195);
    color: white;
    font-size: 12px;
    flex: 1;
}

.input-design::placeholder{
    color: rgba(255, 255, 255, 0.3);
}

@media(max-width:500px){
    .headline{
        gap: 8px;
    }

    .headline-img{
        height: 42px;
        width: 42px;
        padding: 4px;
        background-color: rgb(253,91,79);
        border: 2px solid white;
        border-radius: 50px;
    }

    .headline img{
        height: 30px;
        width: 30px;
    }

    .headline span{
        font-size: 26px;
    }

    .underline{
        font-size: 14px !important;
    }

    /* .frame{
        width: 350px;
    } */
}

@media(max-width:415px){
    header{
        padding-left: 24px;
    }

    .headline-img{
        height: 32px;
        width: 32px;
        padding: 4px;
        background-color: rgb(253,91,79);
        border: 2px solid white;
        border-radius: 50px;
    }

    .headline img{
        height: 20px;
        width: 20px;
    }

    .headline span{
        font-size: 20px;
    }

    .underline{
        font-size: 12px !important;
        padding-top: 4px;
    }

    .frame{
        width: 280px;
    }
}
